<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @bulletin_boards1.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @bulletin_boards1.description %>
</p>

<p>
  <strong>Picture:</strong>
  <%= @bulletin_boards1.picture %>
</p>

<%= link_to 'Edit', edit_bulletin_boards1_path(@bulletin_boards1) %> |
<%= link_to 'Back', bulletin_boards1s_path %>
